<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AbsDBEntities" connectionString="metadata=res://*/AbsDB.csdl|res://*/AbsDB.ssdl|res://*/AbsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AbsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>